<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Site keywords here" />
    <meta name="copyright" content="" />
    <meta
      content="width=device-width, initial-scale=1.0,maximum-scale=1.0"
      name="viewport"
    />
    <!-- <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    /> -->
    <meta
      name="description"
      content="TenEduTech : Study Abroad : Simplified Overseas Education | upGrad Abroad"
    />
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="" />

    <meta
      property="og:title"
      content="TenEduTech : Study Abroad : Simplified Overseas Education | upGrad Abroad"
    />
    <meta
      property="og:description"
      content="TenEduTech : Study Abroad : Simplified Overseas Education | upGrad Abroad"
    />
    <meta property="og:image" content="logo.jpeg />
    <link rel="canonical" href="https://tenedutech.com/" />

    <!-- Title -->
    <title>
      TenEduTech : Study Abroad : Simplified Overseas Education in 2023-24 |
      upGrad Abroad
    </title>

    <!-- Favicon -->
    <link rel="icon" href="img/favicon.png" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="css/nice-select.css" />
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <!-- icofont CSS -->
    <link rel="stylesheet" href="css/icofont.css" />
    <!-- Slicknav -->
    <link rel="stylesheet" href="css/slicknav.min.css" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="css/owl-carousel.css" />
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="css/datepicker.css" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate.min.css" />
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css" />

    <!-- Medipro CSS -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
  </head>

  <body>
    <!-- Preloader -->
    <div class="preloader">
      <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>

        <div class="indicator">
          <svg width="16px" height="12px">
            <!-- <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline> -->
            <polyline
              id="front"
              points="1 6 4 6 6 11 10 1 12 6 15 6"
            ></polyline>
          </svg>
        </div>
      </div>
    </div>
    <!-- End Preloader -->

    <!-- Header Area -->
    <header class="header">
      <!-- Topbar -->
      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-5 col-12"></div>
            <div class="col-lg-6 col-md-7 col-12">
              <!-- Top Contact -->
              <ul class="top-contact">
                <li><i class="fa fa-phone"></i>+91 78937 80668</li>
                <li>
                  <i class="fa fa-envelope"></i
                  ><a href="mailto:ravi@tenaidata.com">ravi@tenaidata.com</a>
                </li>
              </ul>
              <!-- End Top Contact -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Topbar -->
      <!-- Header Inner -->
      <div class="header-inner">
        <div class="container">
          <div class="inner">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-12">
                <!-- Start Logo -->
                <div class="logo">
                  <a href="index.html"
                    ><img src="img/logo.jpeg" alt="#" height="137" width="137"
                  /></a>
                </div>
                <!-- End Logo -->
                <!-- Mobile Nav -->
                <div class="mobile-nav"></div>
                <!-- End Mobile Nav -->
              </div>
              <div class="col-lg-7 col-md-9 col-12">
                <!-- Main Menu -->

                <!--/ End Main Menu -->
              </div>
              <div class="col-lg-2 col-12">
                <div class="get-quote">
                  <a href="#expert-form" class="btn">Talk To Our Expert</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ End Header Inner -->
    </header>
    <!-- End Header Area -->

    <!-- Slider Area -->
    <section class="slider">
      <div class="hero-slider">
        <!-- Start Single Slider -->
        <div
          class="single-slider"
          style="background-image: url('img/slider2.jpg')"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <div class="text">
                  <h1 style="color: white">
                    <span style="color: #8cc83b">Studying Abroad</span>
                    Simplified: International Education in your Budget
                  </h1>
                  <p style="color: white">
                    Globally Accredited & Recognized Degrees Post Study Work
                    Visa Qualified Programs On-Campus Scholarships Available
                  </p>
                  <div class="button">
                    <a href="#expert-form" class="btn">Talk To Our Expert</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Slider -->

        <!-- Start Single Slider -->
        <div
          class="single-slider"
          style="background-image: url('img/slider3.jpg')"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <div class="text">
                  <h1 style="color: white">We Think Education Differently</h1>
                  <p style="color: white">
                    Planning to study in GERMANY, USA, CANADA, UK, IRELAND,
                    AUSTRALIA? Talk to our study abroad experts today!
                  </p>
                  <div class="button">
                    <a href="#expert-form" class="btn">Talk To Our Expert</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Slider -->
      </div>
    </section>
    <!--/ End Slider Area -->

    <!-- Start Schedule Area -->
    <section id="schedule" class="schedule">
      <div class="container">
        <div class="schedule-inner">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
              <!-- single-schedule -->
              <div class="single-schedule first">
                <div class="inner">
                  <div class="icon">
                    <i class="fa fa-graduation-cap"></i>
                  </div>
                  <div class="single-content">
                    <!-- <span>Lorem Amet</span> -->
                    <h4>International Degree</h4>
                    <p>Save up to 50 lakh INR on International Degrees.</p>
                    <p>Get it with us</p>
                    <a href="#schedule"
                      >Talk To Our Expert<i class="fa fa-long-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <!-- single-schedule -->
              <div class="single-schedule middle">
                <div class="inner">
                  <div class="icon">
                    <i class="fa fa-fast-forward"></i>
                  </div>
                  <div class="single-content">
                    <!-- <span>Fusce Porttitor</span> -->
                    <h4>Fast-track</h4>
                    <p>Fast-track Your Career Abroad as per your dream.</p>
                    <p>Get it with us</p>
                    <a href="#schedule"
                      >Talk To Our Expert<i class="fa fa-long-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
              <!-- single-schedule -->
              <div class="single-schedule last">
                <div class="inner">
                  <div class="icon">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <div class="single-content">
                    <!-- <span>Lorem Ipsum</span> -->
                    <h4>On-shore Support</h4>
                    <p>End-to-end On-shore Support exclusively for you.</p>
                    <p>Get it with us</p>
                    <a href="#schedule"
                      >Talk To Our Expert<i class="fa fa-long-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/End Start schedule Area -->

    <!-- Start portfolio -->
    <section class="portfolio section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>We Maintain Cleanliness Rules Inside Our Hospital</h2>
              <img src="img/section-img.png" alt="#" />
              <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit praesent
                aliquet. pretiumts
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-12">
            <div class="owl-carousel portfolio-slider">
              <div class="single-pf">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images//pathway/28/bannerImages/1_DAV_YUEG822N.png?tr=q-100,w-360"
                  alt="#"
                />
                <a
                  href="https://www.upgradabroad.com/university/usa/northeastern-university-137"
                  >Northeastern University</a
                >
                <h6>MS in Project Management</h6>
                <!-- <a href="portfolio-details.html" class="btn">View Details</a> -->
              </div>
              <div class="single-pf">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images//pathway/106/bannerImages/Clark_MBAUCD4EG.png?tr=q-100,w-360"
                  alt="#"
                />
                <a href="portfolio-details.html" class="btn">View Details</a>
              </div>
              <div class="single-pf">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images//pathway/163/bannerImages/ABS14QK7VS.png?tr=q-100,w-360"
                  alt="#"
                />
                <a href="portfolio-details.html" class="btn">View Details</a>
              </div>
              <div class="single-pf">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images/pathway/banner/mba-iu-germany.jpg?tr=q-100,w-360"
                  alt="#"
                />
                <a href="portfolio-details.html" class="btn">View Details</a>
              </div>
              <div class="single-pf">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images//pathway/156/bannerImages/NEU2AZHGAY.png?tr=q-100,w-360"
                  alt="#"
                />
                <a href="portfolio-details.html" class="btn">View Details</a>
              </div>
              <div class="single-pf">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images//home/images/noprogram.svg?tr=q-75,w-1920"
                  alt="#"
                />
                <a href="portfolio-details.html" class="btn">View Details</a>
              </div>
              <!-- <div class="single-pf">
                <img src="img/pf3.jpg" alt="#" />
                <a href="portfolio-details.html" class="btn">View Details</a>
              </div>
              <div class="single-pf">
                <img src="img/pf4.jpg" alt="#" />
                <a href="portfolio-details.html" class="btn">View Details</a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ End portfolio -->

    <!-- Start clients -->
    <div class="clients overlay2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <div class="owl-carousel clients-slider">
              <div class="single-clients">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images/home/images/partners/logo-13.svg?tr=q-250,w-250"
                  alt="#"
                />
              </div>
              <div class="single-clients">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images/home/images/partners/logo-16.svg?tr=q-250,w-250"
                  alt="#"
                />
              </div>
              <div class="single-clients">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images/home/images/partners/logo-7.svg?tr=q-250,w-250"
                  alt="#"
                />
              </div>
              <div class="single-clients">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images/home/images/partners/logo-12.svg?tr=q-250,w-250"
                  alt="#"
                />
              </div>
              <div class="single-clients">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images/home/images/partners/logo-3.svg?tr=q-250,w-250"
                  alt="#"
                />
              </div>
              <div class="single-clients">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images/home/images/partners/logo-11.svg?tr=q-250,w-250"
                  alt="#"
                />
              </div>
              <div class="single-clients">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images/home/images/partners/logo-15.svg?tr=q-250,w-250"
                  alt="#"
                />
              </div>
              <div class="single-clients">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images/home/images/partners/logo-4.svg?tr=q-250,w-250"
                  alt="#"
                />
              </div>
              <div class="single-clients">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images/home/images/partners/logo-9.svg?tr=q-250,w-250"
                  alt="#"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Ens clients -->
    <!-- Start Appointment -->
    <section class="appointment" id="expert-form">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>Talk To Our Expert</h2>
              <img src="img/section-img.png" alt="#" />
              <p>Get FREE 1-1 counselling with our experts.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <form class="form" method="post" action="/">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <input
                      name="fname"
                      type="text"
                      placeholder="Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <input
                      name="email"
                      type="email"
                      placeholder="Email"
                      required
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <input
                      name="phone"
                      type="text"
                      placeholder="Phone"
                      required
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <div
                      class="nice-select form-control wide"
                      tabindex="0"
                      id="degreeDropdown"
                    >
                      <span class="current"
                        >Which Degree do you want to pursue?*</span
                      >
                      <ul class="list" name="degree">
                        <li data-value="1" class="option selected">Masters</li>
                        <li data-value="2" class="option">Bachelors</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Hidden input for Dropdown 1 -->
                <input
                  type="hidden"
                  id="selectedDegree"
                  name="degree"
                  value="1"
                />

                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <div
                      class="nice-select form-control wide"
                      tabindex="0"
                      id="bachelorCompletionDropdown"
                    >
                      <span class="current"
                        >Have you completed your Bachelor's?*
                      </span>
                      <ul class="list">
                        <li data-value="1" class="option selected">Yes</li>
                        <li data-value="2" class="option">No</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Hidden input for Dropdown 2 -->
                <input
                  type="hidden"
                  id="bachelorCompletion"
                  name="bachelordegree"
                  value="1"
                />

                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <div
                      class="nice-select form-control wide"
                      tabindex="0"
                      id="countryDropdown"
                    >
                      <span class="current"
                        >Which country are you planning to study in?*
                      </span>
                      <ul class="list">
                        <li data-value="1" class="option selected">Germany</li>
                        <li data-value="2" class="option">USA</li>
                        <li data-value="2" class="option">Ireland</li>
                        <li data-value="2" class="option">UK</li>
                        <li data-value="2" class="option">Canada</li>
                        <li data-value="2" class="option">Australia</li>
                        <li data-value="2" class="option">France</li>
                        <li data-value="2" class="option">Finland</li>
                        <li data-value="2" class="option">Other</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Hidden input for Dropdown 3 -->
                <input
                  type="hidden"
                  id="selectedCountry"
                  name="country"
                  value="1"
                />

                <div class="col-lg-12 col-md-12 col-12">
                  <p>
                    By submitting this form, you agree to the Terms of Use and
                    Privacy Policy
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5 col-md-4 col-12">
                  <div class="form-group">
                    <div class="button">
                      <button type="submit" class="btn">
                        Talk To Our Expert
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7 col-md-8 col-12">
                  <p>( We will be confirming by a Text Message & EMail )</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End Appointment -->

    <!-- Start Call to action -->
    <section class="call-action overlay" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <div class="content">
              <h2>Find your Classroom in the world</h2>
              <p>Choose the Discipline of Study</p>
              <div class="button">
                <a
                  href="https://www.upgradabroad.com/ua-accelerator-programs/degree/masters"
                  target="_blank"
                  class="btn"
                  >MBA</a
                >
                <a
                  href="https://www.upgradabroad.com/ua-accelerator-programs/degree/masters"
                  target="_blank"
                  class="btn"
                  >Data Science</a
                >
                <a
                  href="https://www.upgradabroad.com/ua-accelerator-programs/degree/masters"
                  target="_blank"
                  class="btn"
                  >Computer Science</a
                >
                <a
                  href="https://www.upgradabroad.com/ua-accelerator-programs/degree/masters"
                  target="_blank"
                  class="btn"
                  >Management</a
                >
                <a
                  href="https://www.upgradabroad.com/ua-accelerator-programs/degree/masters"
                  target="_blank"
                  class="btn"
                  >Business Analytics</a
                >
                <a
                  href="https://www.upgradabroad.com/ua-accelerator-programs/degree/masters"
                  target="_blank"
                  class="btn"
                  >Engineering</a
                >
                <a
                  href="https://www.upgradabroad.com/ua-accelerator-programs/degree/masters"
                  target="_blank"
                  class="btn"
                  >AI & ML</a
                >
                <a
                  href="https://www.upgradabroad.com/study-abroad/lp/upgrad-accel-program-for-medical-sciences"
                  target="_blank"
                  class="btn"
                  >MBBS</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ End Call to action -->

    <!-- Start service -->
    <section class="services section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>Every leader started as a learner.</h2>
              <img src="img/section-img.png" alt="#" />
              <p>Begin your journey here.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="fa fa-percent"></i>
              <h4>
                <a href="https://upgradtrivandrum.com/" target="_blank"
                  >Up to 20%</a
                >
              </h4>
              <p>
                fee waiver on Degree Programs & 10% fee waiver on all other
                programs
              </p>
            </div>
            <!-- End Single Service -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="fa fa-check-square"></i>
              <h4>
                <a href="https://upgradtrivandrum.com/" target="_blank"
                  >Choose from programs</a
                >
              </h4>
              <p>
                in domains of Data, Technology, Management and Degree Programs
              </p>
            </div>
            <!-- End Single Service -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="fa fa-handshake-o"></i>
              <h4>
                <a href="https://upgradtrivandrum.com/" target="_blank"
                  >Dedicated mentorship
                </a>
              </h4>
              <p>from industry experts</p>
            </div>
            <!-- End Single Service -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="fa fa-desktop"></i>
              <h4>
                <a href="https://upgradtrivandrum.com/" target="_blank"
                  >We create immersive</a
                >
              </h4>
              <p>online learning experiences for our learners globally.</p>
            </div>
            <!-- End Single Service -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="fa fa-building"></i>
              <h4>
                <a href="https://upgradtrivandrum.com/" target="_blank"
                  >Powering career success</a
                >
              </h4>
              <p>
                for every member of the global workforce as their trusted
                lifelong learning partner.
              </p>
            </div>
            <!-- End Single Service -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="fa fa-graduation-cap"></i>
              <h4>
                <a href="https://upgradtrivandrum.com/" target="_blank"
                  >Making our learners</a
                >
              </h4>
              <p>achieve their desired outcomes.</p>
            </div>
            <!-- End Single Service -->
          </div>
        </div>
      </div>
    </section>
    <!--/ End service -->

    <!-- Start Blog Area -->
    <section class="blog section" id="blog">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>FREE Study Abroad Courses</h2>
              <!-- <img src="img/section-img.png" alt="#" /> -->
              <!-- <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit praesent
                aliquet. pretiumts
              </p> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Single Blog -->
            <div class="single-news">
              <div class="news-head">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images/dashboard/free-usa-course.png"
                  alt=""
                />
              </div>
              <div class="news-body">
                <div class="news-content">
                  <h2>
                    <a href="https://www.upgradabroad.com/" target="_blank"
                      >Study in USA</a
                    >
                  </h2>
                  <p class="text">
                    Courses to help you understand educational opportunities in
                    USA
                  </p>
                </div>
              </div>
            </div>
            <!-- End Single Blog -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Single Blog -->
            <div class="single-news">
              <div class="news-head">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images/dashboard/free-canada-course.png"
                  alt="#"
                />
              </div>
              <div class="news-body">
                <div class="news-content">
                  <!-- <div class="date">15 Jul, 2020</div> -->
                  <h2>
                    <a href="https://www.upgradabroad.com/" target="_blank"
                      >Study in Canada</a
                    >
                  </h2>
                  <p class="text">
                    Courses to help you understand Educational & Career
                    opportunities in Canada
                  </p>
                </div>
              </div>
            </div>
            <!-- End Single Blog -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Single Blog -->
            <div class="single-news">
              <div class="news-head">
                <img
                  src="https://ik.imagekit.io/upgrad1/abroad-images/dashboard/free-germany-course.png"
                  alt="#"
                />
              </div>
              <div class="news-body">
                <div class="news-content">
                  <!-- <div class="date">05 Jan, 2020</div> -->
                  <h2>
                    <a href="https://www.upgradabroad.com/" target="_blank"
                      >Study in Germany</a
                    >
                  </h2>
                  <p class="text">
                    Courses to help you understand Educational & Career
                    opportunities in Germany
                  </p>
                </div>
              </div>
            </div>
            <!-- End Single Blog -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Blog Area -->

    <!-- Start Newsletter Area -->
    <section class="newsletter section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12">
            <!-- Start Newsletter Form -->
            <div class="subscribe-text">
              <h6>Sign up for newsletter</h6>
              <p class="">
                Now step up in your career with a great fee waiver.
              </p>
              <p>
                We are South Asia’s largest higher EdTech company. With the
                latest technology, pedagogy, industry partners and world-class
                faculty, we create immersive online learning experiences for our
                learners globally.
              </p>
            </div>
            <!-- End Newsletter Form -->
          </div>
          <div class="col-lg-6 col-12">
            <!-- Start Newsletter Form -->
            <div class="subscribe-form">
              <form
                action="/newsletter"
                method="post"
                target="_blank"
                class="newsletter-inner"
              >
                <input
                  name="email"
                  placeholder="Your email address"
                  class="common-input"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Your email address'"
                  required=""
                  type="email"
                />
                <button class="btn">Subscribe</button>
              </form>
            </div>
            <!-- End Newsletter Form -->
          </div>
        </div>
      </div>
    </section>
    <!-- /End Newsletter Area -->

    <!-- Footer Area -->
    <footer id="footer" class="footer">
      <!-- Footer Top -->
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="single-footer">
                <h2>About Us</h2>
                <p>
                  We are South Asia’s largest higher EdTech company. With the
                  latest technology, pedagogy, industry partners and world-class
                  faculty, we create immersive online learning experiences for
                  our learners globally.
                </p>
                <!-- Social -->
                <ul class="social">
                  <li>
                    <a
                      href="https://www.linkedin.com/showcase/tenedutech/"
                      target="_blank"
                      ><i class="icofont-linkedin"></i
                    ></a>
                  </li>
                </ul>
                <!-- End Social -->
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12">
              <div class="single-footer">
                <h2>Newsletter</h2>
                <p>
                  subscribe to our newsletter to get allour news in your inbox.
                </p>
                <form
                  action="/newsletter"
                  method="post"
                  target="_blank"
                  class="newsletter-inner"
                >
                  <input
                    name="email"
                    placeholder="Email Address"
                    class="common-input"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Your email address'"
                    required=""
                    type="email"
                  />
                  <button class="button">
                    <i class="icofont icofont-paper-plane"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ End Footer Top -->
      <!-- Copyright -->
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="copyright-content">
                <p>© Copyright 2023, 2024 | All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ End Copyright -->
    </footer>
    <!--/ End Footer Area -->

    <!-- Send form dropdown data to backend -->
    <script>
      // JavaScript to handle user selections and update hidden inputs
      const degreeDropdown = document.getElementById("degreeDropdown");
      const selectedDegreeInput = document.getElementById("selectedDegree");

      const bachelorCompletionDropdown = document.getElementById(
        "bachelorCompletionDropdown"
      );
      const bachelorCompletionInput =
        document.getElementById("bachelorCompletion");

      const countryDropdown = document.getElementById("countryDropdown");
      const selectedCountryInput = document.getElementById("selectedCountry");

      degreeDropdown.addEventListener("click", function (e) {
        if (e.target.classList.contains("option")) {
          const selectedDegreeText = e.target.textContent;
          selectedDegreeInput.value = selectedDegreeText;
          degreeDropdown.querySelector(".current").textContent =
            selectedDegreeText;
        }
      });

      bachelorCompletionDropdown.addEventListener("click", function (e) {
        if (e.target.classList.contains("option")) {
          const completionStatusText = e.target.textContent;
          bachelorCompletionInput.value = completionStatusText;
          bachelorCompletionDropdown.querySelector(".current").textContent =
            completionStatusText;
        }
      });

      countryDropdown.addEventListener("click", function (e) {
        if (e.target.classList.contains("option")) {
          const selectedCountryText = e.target.textContent;
          selectedCountryInput.value = selectedCountryText;
          countryDropdown.querySelector(".current").textContent =
            selectedCountryText;
        }
      });
    </script>

    <!-- jquery Min JS -->
    <script src="js/jquery.min.js"></script>
    <!-- jquery Migrate JS -->
    <script src="js/jquery-migrate-3.0.0.js"></script>
    <!-- jquery Ui JS -->
    <script src="js/jquery-ui.min.js"></script>
    <!-- Easing JS -->
    <script src="js/easing.js"></script>
    <!-- Color JS -->
    <script src="js/colors.js"></script>
    <!-- Popper JS -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap Datepicker JS -->
    <script src="js/bootstrap-datepicker.js"></script>
    <!-- Jquery Nav JS -->
    <script src="js/jquery.nav.js"></script>
    <!-- Slicknav JS -->
    <script src="js/slicknav.min.js"></script>
    <!-- ScrollUp JS -->
    <script src="js/jquery.scrollUp.min.js"></script>
    <!-- Niceselect JS -->
    <script src="js/niceselect.js"></script>
    <!-- Tilt Jquery JS -->
    <script src="js/tilt.jquery.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="js/owl-carousel.js"></script>
    <!-- counterup JS -->
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Steller JS -->
    <script src="js/steller.js"></script>
    <!-- Wow JS -->
    <script src="js/wow.min.js"></script>
    <!-- Magnific Popup JS -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up CDN JS -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>
  </body>
</html>
